@model IEnumerable<BookReadingEvent.Models.Event>
@{
    ViewBag.Title = "Upcoming_Events";
}
<style>
    body {
        font-family: cursive
    }
</style>
<body>


    <h2 style="padding-top:50px;">Upcoming_Events</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherDetails)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InviteCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isPublic)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UserFullName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OtherDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InviteCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isPublic)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })|
                    @Html.ActionLink("Comments", "Create", "Comments")
                </td>
            </tr>
        }

    </table>
    </body>

