@model IEnumerable<BookReadingEvent.Models.Comment>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        font-family: cursive
    }
</style>
<body>


    <h2 style="padding-top:50px;">Comments</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CommentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })

                </td>
            </tr>
        }

    </table>
    </body>
